django_plotly/graph/migrations/__pycache__/*.pyc
django_plotly/graph/__pycache__/*.pyc
django_plotly/django_plotly/__pycache__/*.pyc
django_plotly/db.sqlite3
.vscode/settings.json
django_plotly/graph/migrations/*.*
django_plotly/.vscode/settings.json
