html {
    font-size: 62.5%;
}

.no_display {
    display: none;
}

.title {
    color: brown;
    border-bottom: 1px solid #012f57;
    padding: 0.5rem;
    font-size: 3rem;
}

.sub_title {
    border-bottom: 1px solid #012f57;
    padding-bottom: 0.5rem;
}

.btn {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #f2edd7;
    color: #755139;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.btn:hover {
    background-color: #d2cdb7;
}

.btn:active {
    background-color: #928d77;
}

.col_name {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding: 0.5em;
}

.ctrl_panel {
    background-color: whitesmoke;
    font-weight: bold;
    width: 28rem;
    padding-left: 0.8rem;
}

.sel {
    width: 24rem;
}

.small_sel {
    width: 7.5rem;
}
