<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'graph/style.css' %}">
        <meta charset="utf-8">
        <title>Binary Data Graph: Data</title>
    </head>
    <body>
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <input type="submit" name="submit_save" value="Save">
            <input type="submit" name="submit_del" value="Del">
            {{ file_form }}
            {{ bd_fs.management_form }}
            {% for form in bd_fs %}
                <br>

                <!-- Add hidden non-blank fields for validation -->
                <span class="no_display">
                    {{ form.id }}
                </span>
                
                <label>File name: </label>
                <a href="/{{ form.file.value }}/">{{ form.fname.value }}</a>
                <label>Uploaded: {{ form.uploaded.value|date:"Y-m-d H:i:s" }}</label>
                {% if bd_fs.can_delete %}
                    <label>Delete: </label>
                    {{ form.DELETE }}
                {% endif %}
			{% endfor %}
        </form>
    </body>
</html>
