<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'graph/style.css' %}">
        <meta charset="utf-8">
        <title>BinGraph: Field</title>
    </head>
    <body>
        <h1 class="title">Structure Field List</h1>
        <form id="main_form" method="post" action="">
            {% csrf_token %}
            <input type="button" class="btn" value="HOME" onClick="location.href='/'">
            <input type="button" class="btn" value="&#17" onClick="location.href='../'">
            <input type="submit" class="btn" name="submit_add" value="ADD">
            <input type="submit" class="btn" name="submit_save" value="SAVE">
            <br><br>
            <label style="margin: 2rem;">Structure name: </label>
            {{ bs_form.label }}
            {{ bf_fs.management_form }}
            <ol>
                {% for form in bf_fs %}
                <li>
                    {{ form }}
                    <input type="button" value="-" onclick="click_delete('{{ form.delete.auto_id }}')">
                </li>
                {% endfor %}
            </ol>
        </form>

        <script type="text/javascript">
            function click_delete(id) {

                // Set form's delete field to True
                document.getElementById(id).setAttribute("value", "True");

                // Add 'submit_del' element into the main_form, the element is used to identify sort of request
                var temp_del = document.createElement("input");
                temp_del.type = "hidden";
                temp_del.name = "submit_del";
                var form = document.getElementById("main_form");
                form.appendChild(temp_del);

                // Submit
                form.submit()
            }
        </script>
    </body>
</html>
