<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Django-Plotly: Field</title>
    </head>
    <body>
        <form id="main_form" method="post" action="">
            {% csrf_token %}
            <input type="submit" name="submit_add" value="Add">
            <input type="submit" name="submit_save" value="Save">
            <br>
            {{ bs_form.label }}
            {{ bf_fs.management_form }}
            <ol>
                {% for form in bf_fs %}
                <li>
                    {{ form }}
                    <input type="button" value="-" onclick="click_delete('{{ form.delete.auto_id }}')">
                </li>
                {% endfor %}
            </ol>
        </form>

        <script type="text/javascript">
            function click_delete(id) {

                // Set form's delete field to True
                document.getElementById(id).setAttribute("value", "True");

                // Add 'submit_delete' element into the main_form, the element is used to identify sort of request
                var temp_del = document.createElement("input");
                temp_del.type = "hidden";
                temp_del.name = "submit_delete";
                var form = document.getElementById("main_form");
                form.appendChild(temp_del);

                // Submit
                form.submit()
            }
        </script>
    </body>
</html>
