<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'graph/style.css' %}">
        <meta charset="utf-8">
        <title>Binary Data Graph: Structure</title>
    </head>
    <body>
        <h1 class="title">Structure List</h1>
        <form method="post" action="">
            {% csrf_token %}
            <input type="button" value="HOME" onClick="location.href='/'" class="btn">
            <input type="submit" name="submit_new" value="NEW" class="btn">
            <input type="submit" name="submit_del" value="DEL" class="btn">
            {{ bs_fs.management_form }}
            {% for form in bs_fs %}
                <br>
                
                <!-- Add hidden non-blank fields for validation -->
                <span class="no_display">
                {{ form.id }}
                {{ form.label }}
                </span>
                
                <label>Structure name: </label>
                <a href="{{ form.id.value }}/field/">{{ form.label.value }}</a>
                <label>Modified: {{ form.modified.value|date:"Y-m-d H:i:s" }}</label>
                {% if bs_fs.can_delete %}
                    <label>Delete: </label>
                    {{ form.DELETE }}
                {% endif %}
			{% endfor %}
        </form>
    </body>
</html>
