<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Graph: Structure</title>
    </head>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" name="submit_add" value="Add">
            <input type="submit" name="submit_save" value="Save">
            {{ formset.management_form }}
            <ol>
                {% for form in formset %}
                <li>{{ form }}</li>
                {% endfor %}
            </ol>
        </form>
    </body>
</html>
