<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Graph: Field</title>
    </head>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" name="submit_add" value="Add">
            <input type="submit" name="submit_save" value="Save">
            <br>
            {{ bs_form.name }}
            {{ bf_formset.management_form }}
            <ol>
                {% for form in bf_formset %}
                <li>{{ form }}</li>
                {% endfor %}
            </ol>
        </form>
    </body>
</html>
