<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'graph/style.css' %}">
        <meta charset="utf-8">
        <title>Binary Data Graph: Plot</title>
    </head>
    <body>
		<form action="" method="post">
            {% csrf_token %}
            {{ sel_bd }}
            <br>
            {{ sel_bs }}
            {{ sel_graph }}
            <br>
            {% for form in sel_bf_forms %}
                {{ form }}
            {% endfor %}
            <input type="submit" name="submit_plot" value="Plot">
		</form>

        {% if plot_div %}
            <h3>Graph</h3>
            {{ plot_div|safe }}
        {% endif %}
    </body>
</html>
