<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Django-Plotly: Plot</title>
    </head>
    <body>
		<form action="" method="post">
            {% csrf_token %}
            {{ sel_bd }}
            <br>
            {{ sel_bs }}
            {{ sel_graph }}
            <br>
            {% for form in sel_bf_forms %}
                {{ form }}
            {% endfor %}
            <input type="submit" name="submit_plot" value="Plot">
		</form>
	
        <h1>TEST GRAPH</h1>
        {% if plot_div %}
        {{ plot_div|safe }}
        {% endif %}
    </body>
</html>
