<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Graph: Structure</title>
    </head>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" name="submit_new" value="New">
            {{ bs_formset.management_form }}
			{% for form in bs_formset %}
                <br>
                <label>Structure name: </label>
                <a href="{{ form.id.value }}/field/">{{ form.name.value }}</a>
                <label>Modified: {{ form.modified.value }}</label>
			{% endfor %}
        </form>
    </body>
</html>
